<!DOCTYPE html>
<html lang="en" class="{{cc}}">
<head>
<script>window.startTime = new Date().getTime();</script>
    <meta charset="utf-8" />
    <title>SSG Dream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Favicon Tags -->

    <link rel="apple-touch-icon-precomposed" href="assets/images/favicon152x152.png">
    <link rel="icon" href="assets/images/favicon152x152.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Samsungtweets" />
    <meta name="twitter:creator" content="@Samsungtweets" />
    <meta name="twitter:title" content="Experience the new Samsung"/>
    <meta name="twitter:description" content="Discover the latest in electronic & smart appliance technology with Samsung. Find the next big thing from tablets & smartphones to laptops & tvs." />
    <meta name="twitter:image" content="http://explorethenextgalaxy.com/assets/images/twitter_share.png"/>

    <!-- FB/OG Meta Tags -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Experience the new Samsung"/>
    <meta property="og:description" content="Discover the latest in electronic & smart appliance technology with Samsung. Find the next big thing from tablets & smartphones to laptops & tvs." />
    <meta property="og:image" content="http://explorethenextgalaxy.com/assets/images/facebook_share.png" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://explorethenextgalaxy.com/"/>
    <meta property="og:site_name" content="Samsung Electronics America"/>
    <meta property="fb:app_id" content="403492300017395">
    <!-- JS can't edit keyframes if inside a css file -->

    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/desktop.css" />
    
</head>
<body>
<section id="phoneContainerLanding">
        <img id="phone" src="assets/images/landing.jpg" />
    </section>
    <div class="landing__share__buttons">
            <!-- TODO Image Titles and SEO -->
            <a class="share__button share__elem" id="fb-share" data-shareid="facebook" data-origin='preorder' href="javascript:void(0)">
                <svg class="share__facebook-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.776 14.546"><path d="M2.5,15.546H5.505V8.273H7.51l.266-2.506H5.506l0-1.255c0-.653.062-1,1-1H7.762V1H5.757C3.348,1,2.5,2.216,2.5,4.261V5.766H1V8.273H2.5v7.273Z" transform="translate(-1 -1)"/></svg>
            </a>
            <a class="share__button share__elem" data-url="http://dream-dev.sg.rgadev.com/" data-shareid="twitter" data-origin='preorder' href="https://twitter.com/share?url=http://explorethenextgalaxy.com/&text=Experience the new Samsung Galaxy S8">
                <svg class="share__twitter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.664 12.964"><path d="M1.6,11.988a3.378,3.378,0,0,0-.928.092,8.635,8.635,0,0,0,2.184,1.007,9.548,9.548,0,0,0,7.425-.847A9.946,9.946,0,0,0,14.046,7.8a11.8,11.8,0,0,0,.77-3.432c0-.527.034-.6.668-1.225a7.361,7.361,0,0,0,.792-.881c.113-.218.1-.218-.475-.023-.962.344-1.1.3-.622-.217A3.326,3.326,0,0,0,15.949.8c0-.034-.17.023-.362.126a6.249,6.249,0,0,1-1,.389l-.611.195-.555-.378a4.561,4.561,0,0,0-.962-.5,3.865,3.865,0,0,0-1.981.046,3.276,3.276,0,0,0-2.207,3.3l.034.561-.566-.069A9.2,9.2,0,0,1,2.355,1.8L1.607,1.06l-.192.549A3.306,3.306,0,0,0,2.117,5c.453.481.351.549-.43.263a1.352,1.352,0,0,0-.532-.126,4.111,4.111,0,0,0,.407,1.534A3.65,3.65,0,0,0,3.113,8.132l.555.263-.656.011c-.634,0-.656.011-.588.252A3.42,3.42,0,0,0,4.54,10.535l.7.24-.611.366A6.342,6.342,0,0,1,1.6,11.988Z" transform="translate(-0.668 -0.518)"/></svg>
            </a>
            <a class="share__button share__elem" data-shareid="clipboard" href="javascript:void(0)" data-origin='preorder' data-clipboard-text="http://explorethenextgalaxy.com">
                <svg class="share__clipboard-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.856 53.849"><path d="M51.414,4.434a11.757,11.757,0,0,0-16.607,0L21.734,17.506a11.758,11.758,0,0,0,0,16.608,2.5,2.5,0,0,0,3.536-3.535,6.753,6.753,0,0,1,0-9.538L38.342,7.969a6.744,6.744,0,1,1,9.537,9.538L42.5,22.89a2.5,2.5,0,0,0,3.536,3.535l5.382-5.383a11.742,11.742,0,0,0,0-16.608Z" transform="translate(-1 -1)"/><path d="M30.578,21.736a2.5,2.5,0,0,0,0,3.535,6.743,6.743,0,0,1,0,9.538L17.505,47.881a6.744,6.744,0,1,1-9.537-9.538l5.383-5.383a2.5,2.5,0,1,0-3.535-3.535L4.433,34.807A11.744,11.744,0,0,0,21.042,51.415L34.113,38.342a11.744,11.744,0,0,0,0-16.608A2.5,2.5,0,0,0,30.578,21.736Z" transform="translate(-1 -1)"/></svg>
            </a>
        </div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '403492300017395',
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };
        return t;
    }(document, "script", "twitter-wjs"));

    document.getElementById('fb-share').addEventListener('click', function() {
        FB.ui({
            method: 'share',
            mobile_iframe: true,
            href: 'http://explorethenextgalaxy.com/',
        }, function(response){});    
    })

</script>
</body>
</html>
