<div class="feature" id="bixby">

    <div class="intro">
        <h2 class="intro__title">Use your camera to search online with Bixby</h2>

        <div class="intro__disclaimers">
            <p class="intro__disclaimer">Availability may vary by country, service provider<br/>and network operator.</p>
        </div>
    </div>

    <img class="background" asset-src="assets/images/bixby/bixby-bg.jpg" />

    <div class="amazon-disclaimer">
        These Amazon search results are simulated.<br/>
        Actual results may vary.
    </div>

</div>
