<div class="feature" id="infinityDisplay">

    <div class="intro">
        <h2 class="intro__title">Enjoy an immersive viewing experience with Infinity Display</h2>

        <div class="intro__disclaimers">
            <p class="intro__disclaimer">{{{screenDisclaimer}}}</p>
        </div>
    </div>

    <div class="parallax">
        <!-- <img class="layer sky-night" data-layer-y="-200" src="assets/images/infinityDisplay/sky-night.png"/> -->
        <img class="layer sky" data-layer-y="-200" asset-src="assets/images/infinityDisplay/sky.jpg"/>
        <img class="layer mountains" asset-src="assets/images/infinityDisplay/mountains.png"/>
        <img class="layer trees" asset-src="assets/images/infinityDisplay/trees.png"/>
        <!-- <img class="layer lightray" data-layer-y="300" src="assets/images/infinityDisplay/lightray.png"/> -->
        <img id="glider" class="layer glider" asset-src="assets/images/infinityDisplay/glider.png"/>
        <img id="glider2" class="layer glider2" asset-src="assets/images/infinityDisplay/glider2.png"/>
        <img class="layer grass4" asset-src="assets/images/infinityDisplay/grass4.png"/>
        <img class="layer grass3" data-layer-y="160" asset-src="assets/images/infinityDisplay/grass3.png"/>
        <img class="layer grass2" data-layer-y="130" asset-src="assets/images/infinityDisplay/grass2.png"/>
        <img class="layer grass1" data-layer-y="128" asset-src="assets/images/infinityDisplay/grass1.png"/>
    </div>

</div>
