<div class="feature" id="irisScan">

    <div class="intro">
        <h2 class="intro__title">Secure phone<br/>and files</br>with Iris Scanner</h2>
    </div>

    <div class="content">
        <div class="background"></div>
    </div>

</div>
