<div class="feature" id="lowLightCamera">

    <div class="intro">
        <h2 class="intro__title">Take clear selfies with Autofocus Selfie Camera</h2>
    </div>

    <div class="content">
		<div class="background"></div>
    </div>
</div>
