<div id="rotationMessage" class="errorMessage">
    <div id="rotationMessageImage"></div>
    <div id="rotationMessageText">Keep your phone portrait for the best experience</div>
</div>

<div id="cookieMessage" class="banner is-hidden">
    <p class="banner__text">This website uses cookies to ensure you get the best experience on our website. <a class="banner__link" href="http://www.samsung.com/us/common/privacy.html" target="_blank">Learn more</a></p>
    <button type="button" class="banner__dismiss">Got it</button>
</div>
