<div id="navPills" class="nav-pills">
    <div class="nav-pills__container">
        {{!-- <a class="nav-pills__link is-active" href="javascript:void(0)" data-nav-id="UNBOX" title="Unbox">
            <span class="nav-pills__link__inner"></span>
        </a> --}}
        <a class="nav-pills__link" href="javascript:void(0)" data-nav-id="INFINITY_DISPLAY" title="Infinity Display">
            <span class="nav-pills__link__inner">
                <span class="nav-pills__link__inner__fill"></span>
            </span>
        </a>
        <a class="nav-pills__link" href="javascript:void(0)" data-nav-id="IRIS_SCAN" title="Iris Scan">
            <span class="nav-pills__link__inner">
                <span class="nav-pills__link__inner__fill"></span>
            </span>
        </a>
        <a class="nav-pills__link" href="javascript:void(0)" data-nav-id="BIXBY_VISION" title="Bixby Vision">
            <span class="nav-pills__link__inner">
                <span class="nav-pills__link__inner__fill"></span>
            </span>
        </a>
        <a class="nav-pills__link" href="javascript:void(0)" data-nav-id="LOW_LIGHT_CAMERA" title="Autofocus Front Camera">
            <span class="nav-pills__link__inner">
                <span class="nav-pills__link__inner__fill"></span>
            </span>
        </a>
        <a class="nav-pills__link" href="javascript:void(0)" data-nav-id="WATER_RESISTANT" title="Water Resistant">
            <span class="nav-pills__link__inner">
                <span class="nav-pills__link__inner__fill"></span>
            </span>
        </a>
        <a class="nav-pills__link" href="javascript:void(0)" data-nav-id="PRE_ORDER" title="Pre-Order">
            <span class="nav-pills__link__inner">
                <span class="nav-pills__link__inner__fill"></span>
            </span>
        </a>
    </div>
</div>
