<div class="overlay ssg-brand">
    <div class="overlay__unbox">
        <div class="overlay__unbox-title">Unbox your phone</div>
        <div class="overlay__unbox-introducing ssg-brand-medium">Introducing the new</div>
        <div class="overlay__unbox-name"><span class="glyph glyph-dream-name"></span></div>
        <div class="overlay__unbox-shake ssg-brand-medium">Shake to unbox</div>
        <div class="overlay__unbox-touch ssg-brand-medium">Rotate and zoom</div>
        {{!-- <a href="javascript:void(0)" class="unbox__cta">Learn More</a> --}}
    </div>
</div>