// Samsung Brand: Primary Colors
$black: #000;
$white: #FFF;
$samsung-blue: #1428A0;
$sky-blue: #0077CB;
$sea-blue: #00B3E3;

// Samsung Brand: Secondary Colors
$teal: #00C3B2;
$clover: #97D653;
$sprout: #CEDE00;
$daffodil: #F8E946;
$saffron: #FFB546;
$pepper: #FF7F3F;
$coral: #FF4337;
$hibiscus: #D939B2;
$plum: #9363CC;

// Generic
$off-white: #EEE;
$light-gray: #CCC;
$medium-gray: #888;
$dark-gray: #444;
$off-black: #222;

// Z-Indexes
$zErrorMessage: 20;
$zBanner: 19;
$zNav: 15;
$zNavModal: 14;
$zNavModalBlack: 13;
$zNavNextButton: 12;
$zIntroContainer: 11;
